.mainContent{
    padding: 20px;
}
.animeGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1025px) {
    .animeGrid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 430px) {
    .animeGrid{
        grid-template-columns: 1fr;
    }
}